<div class="navbar navbar-default _this_nav">
  <div class="container farewell">
    <div class="navbar-header">
      <a href="/" class="navbar-brand logo_"></a>
    </div>
    <div class="navbar-search">
      <input type="text" name="seacrh" placeholder="Search">
      <span class="loop_"></span>
    </div>
    <ul class="nav navbar-nav">
      <li class="btn-1_"><a href="#" class="btn-1">btn-1</a></li>
      <li class="btn-2_"><a href="#" class="btn-2">btn-2</a></li>
      <li class="btn-3_"><a href="#" class="btn-3">btn-3</a></li>
    </ul>
  </div>
</div>
