body {
  font: 14px Roboto, "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.clear {
  clear: both;
}

.form-control {
  font-family: Roboto, Helvetica, Arial;
}

/*auth css*/
.bg-auth {
  background-color: #fafafa;
  min-height: 675px;
}

.bg-auth .left-side {
  align-self: center;
  background-image: url(https://instagramstatic-a.akamaihd.net/h1/images/homepage/home-phones.png/38825c9d5aa2.png);
  background-position: 0 0;
  background-size: 454px 618px;
  -ms-flex-preferred-size: 454px;
  width: 47%;
  flex-basis: 454px;
  height: 618px;
  margin-left: -35px;
  margin-right: -15px;
  margin-top: 30px;
}

.bg-auth .left-side .slider_img {
  padding-left: 50px;
  padding-left: 32.85%;
  padding-top: 24.05%;
}

.bg-auth .left-side .slider_img .this_list {
  list-style: none;
  padding: 0;
}

.bg-auth .left-side .slider_img .this_list li {
  position: absolute;
}

.bg-auth .right-side {
  margin-top: 100px;
  padding-right: 0px;
  width: 38%;
}

.bg-auth .right-side .login-frm {
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 1px;
  margin: 0 0 10px;
  padding: 10px 40px;
}

.bg-auth .right-side .login-frm .title-inst {
  text-align: center;
  margin-top: 5px;
}

.bg-auth .right-side .login-frm .title-inst h2 {
  font-family: "Billabong";
  font-size: 48px;
  letter-spacing: 2px;
  color: #000;
}

.bg-auth .right-side .login-frm .title-inst .catip {
  font-weight: 500;
  font-size: 16px;
  color: #999;
  margin-bottom: 15px;
}

.bg-auth .right-side .login-frm ._this_mrg {
  margin-bottom: 10px;
}

.bg-auth .right-side .login-frm .form-group .form-control {
  box-shadow: none;
  outline: none;
  background: 0 0;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  box-sizing: border-box;
  color: #262626;
  font-size: 13px;
  font-weight: 300;
  height: 33px;
}

.bg-auth .right-side .login-frm .btn-login .tb {
  background: #3897f0;
  border-color: #3897f0;
  color: #fff;
  outline: none;
  font-family: Roboto, Helvetica, Arial;
  font-weight: 500;
  font-size: 14px;
  padding: 5px 12px;
}

.bg-auth .right-side .login-frm .omni-auth {
  margin-top: 30px;
  text-align: center;
  border-top: 1px solid #c7c7c7;
}

.bg-auth .right-side .login-frm .o-auth {
  border-top: none;
  margin-top: 0px;
  border-bottom: 1px solid #c7c7c7;
  margin-bottom: 20px;
}

.bg-auth .right-side .login-frm .omni-auth .or {
  position: absolute;
  margin-top: -13px;
  padding: 5px;
  background-color: #fff;
  left: 48%;
  font-family: Roboto, Helvetica, Arial;
  font-size: 12px;
  font-weight: 500;
  color: #999;
}

.bg-auth .right-side .login-frm .omni-auth .bti {
  padding: 20px 0px;
}

.bg-auth .right-side .login-frm .omni-auth .btw {
  padding: 0px;
  padding-bottom: 20px;
}

.bg-auth .right-side .login-frm .omni-auth .btw a {
  background-color: #3897f0;
  color: #fff !important;
  font-weight: 500;
  padding: 5px 12px;
  outline: none;
}

.bg-auth .right-side .login-frm .term {
  padding-top: 20px;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}

.bg-auth .right-side .login-frm .term p {
  font-size: 13px;
  line-height: 23px;
  color: #999;
}
.bg-auth .right-side .login-frm .omni-auth .bti a {
  color: #00B7FF;
  text-decoration: none;
  font-family: Roboto, Helvetica, Arial;
  font-size: 14px;
}

.bg-auth .right-side .sign_up_switch {
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 1px;
  padding: 20px 40px;
  padding-bottom: 10px;
  text-align: center;
}
.bg-auth .right-side .sign_up_switch p {
  font-family: Roboto, Helvetica, Arial;
  font-size: 14px;
}

.bg-auth .right-side .sign_up_switch p span a {
  text-decoration: none;
  color: #00B7FF;
  cursor: pointer;
}

._footer {
  padding-top:80px;
  padding-bottom: 30px;
  background-color: #fafafa;
}

._footer .container .row .this_is_shit ul li {
  margin-right: 10px;
}

._footer .container .row .this_is_shit ul li {
  font-size: 12px;
  font-weight: 500;
  color:  #999;
  text-decoration: none
}

._footer .container .row .this_is_shit ul li a {
  font-size: 12px;
  font-weight: 500;
  color:  #00B7FF;
  text-decoration: none;
}


/*layout*/
._this_nav {
  border-bottom: 1px solid rgba(0,0,0,.0975);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  height: 77px;
  border-radius: 0px;
  margin-bottom: 0px;
}

._this_nav .farewell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-width: 1010px;
  padding: 26px 40px;
  width: 100%;
}

._this_nav .farewell .navbar-header {
  -webkit-box-flex: 1;
  -ms-flex: 1 9999 0%;
  flex: 1 9999 0%;
  min-width: 40px;
}

._this_nav .farewell .navbar-header .logo_ {
  background-image: url(https://instagramstatic-a.akamaihd.net/h1/sprites/core/e05e5e.png);
  background-position: -177px 0;
  height: 35px;
  width: 176px;
  margin: 0px;
  margin-top: -5px;
  outline: none;
}

._this_nav .farewell .navbar-search {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  min-width: 125px;
}

._this_nav .farewell .navbar-nav {
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 0%;
  flex: 1 0 0%;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
._this_nav .farewell .navbar-nav li {
  margin-left: 40px;
}

._this_nav .farewell .navbar-nav li a {
  background-image: url(https://instagramstatic-a.akamaihd.net/h1/sprites/core/e05e5e.png);
  display: block;
  overflow: hidden;
  text-indent: 110%;
  white-space: nowrap;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  padding: 0px;
  padding-right: 11px !important;
}

._this_nav .farewell .navbar-nav li .btn-1 {
  background-position: -302px -180px;
}

._this_nav .farewell .navbar-nav li .btn-2 {
  background-position: -181px -229px;
}

._this_nav .farewell .navbar-nav li .btn-3 {
  background-position: 0 -279px;
}

._this_nav .farewell .navbar-search .loop_ {
  background-image: url(https://instagramstatic-a.akamaihd.net/h1/sprites/core/e05e5e.png);
  display: block;
  overflow: hidden;
  text-indent: 110%;
  white-space: nowrap;
  width: 10px;
  height: 10px;
  background-repeat: no-repeat;
  background-position: -249px -115px;
  position: absolute;
  margin-left: 8px;
  top: 35px;
  z-index: 2;
}

._this_nav .farewell .navbar-search input {
  border: solid 1px #dbdbdb;
  border-radius: 3px;
  color: #262626;
  font-size: 14px;
  outline: none;
  padding: 2px 10px 3px 26px;
  z-index: 2;
  background-color: #fff;
  font-size: 13px;
  font-weight: 500;
  font-family: Roboto, Helvetica, Arial;
  color: #999;
  height: 28px;
}

.learning-quicker {
  background-color: #fafafa;
  min-height: 600px;
}
.learning-quicker .munkf {
  padding: 70px 9%;
}

.learning-quicker .munkf .edit-data {
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid #dbdbdb;
  padding-left: 20px;
}

.learning-quicker .munkf .edit-data .left_ {
  padding-top: 10px;
}

.learning-quicker .munkf .edit-data .left_ .list_itm {
  list-style: none;
  padding: 0px;
}

.learning-quicker .munkf .edit-data .left_ .list_itm li {
  padding: 20px 0px;
}

.learning-quicker .munkf .edit-data .left_ .list_itm li a {
  color: #262626;
  font-size: 14px;
  font-family: Roboto, Helvetica, Arial;
  text-decoration: none;
  font-weight: 400;
}
.learning-quicker .munkf .edit-data .left_ .list_itm li a.acti {
  font-weight: 600;
}

.learning-quicker .munkf .edit-data .right_ {
  padding-top: 15px;
  border-left: 1px solid #dbdbdb;
  padding-bottom: 20px;
}

.learning-quicker .munkf .edit-data .right_ .left_s {
  text-align: right;
}

.learning-quicker .munkf .edit-data .right_ .left_s .left_info li .foo {
  width: 50px;
  border-radius: 100%;
}
.learning-quicker .munkf .edit-data .right_ .left_s .left_info li {
  padding: 15px 0px;
}
.learning-quicker .munkf .edit-data .right_ .left_s .left_info li p{
  color: #333;
  font-size: 14px;
  font-family: Roboto, Helvetica, Arial;
  text-decoration: none;
  font-weight: 600;
}
.learning-quicker .munkf .edit-data .right_ .left_s .left_info li p.fg{
  margin-top: 45px;
}
.learning-quicker .munkf .edit-data .right_ .right_s {
  padding-left: 50px;
}

.learning-quicker .munkf .edit-data .right_ .right_s .right-form li h4 {
  font-family: Roboto, Helvetica, Arial;
  margin-top: 25px;
  font-weight: 500;
}

.learning-quicker .munkf .edit-data .right_ .right_s .right-form li.fl {
  margin-top: 43px;
}
.learning-quicker .munkf .edit-data .right_ .right_s .right-form li.usr {
  margin-top: 25px;
}
.learning-quicker .munkf .edit-data .right_ .right_s .right-form li.web {
  margin-top: 23px;
}
.learning-quicker .munkf .edit-data .right_ .right_s .right-form li.bio,
.learning-quicker .munkf .edit-data .right_ .right_s .right-form li.mail,
.learning-quicker .munkf .edit-data .right_ .right_s .right-form li.phone,
.learning-quicker .munkf .edit-data .right_ .right_s .right-form li.gender {
  margin-top: 23px;
}
.learning-quicker .munkf .edit-data .right_ .right_s .right-form li .form-control {
  box-shadow: none;
  outline: none;
  font-size: 13px;
  font-family: Roboto;
  font-weight: 300;
  color: #999;
  border-radius: 2px;
  border-color: #dbdbdb;
}

.learning-quicker .munkf .edit-data .right_ .right_s .right-form li.bgth {
  margin-top: 40px;
}
.learning-quicker .munkf .edit-data .right_ .right_s .right-form li.bgth .btn-f {
  background-color: transparent;
  border-color: #3897f0;
  color: #3897f0;
  outline: none;
  font-size: 12px;
  font-weight: bold;
  font-family: Roboto;
}

/*profile*/
.learning-quicker .munkf .profile_left {
  text-align: center;
}

.learning-quicker .munkf .profile_left .img_pp img {
  background-color: #fafafa;
  border-radius: 50%;
  border: 1px solid #dbdbdb;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}

.learning-quicker .munkf .profile_right .info_pp .inlu {
  align-items: center;
  display: flex;
  padding-top: 10px;
}

.learning-quicker .munkf .profile_right .info_pp .inlu .name_ {
  font-weight: 300;
  font-size: 34px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 20px;
}

.learning-quicker .munkf .profile_right .info_pp .inlu .btn-follow,
.learning-quicker .munkf .profile_right .info_pp .inlu .btn-arrow {
  background-color: #70c050;
  border: 1px solid #539637;
  font-weight: 600;
  padding: 7px 20px;
  border-radius: 3px;
  outline: none;
}

.learning-quicker .munkf .profile_right .info_pp .inlu .prof {
  background-color: #3897f0;
  color: #fff !important;
  border-color: #2072bf;
}

.learning-quicker .munkf .profile_right .info_pp .inlu .btn-follow,
.learning-quicker .munkf .profile_right .info_pp .inlu .btn-arrow {
  font-family: Roboto;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
}

.learning-quicker .munkf .profile_right .info_pp .inlu .btn-arrow {
  font-size: 8px;
  margin-left: 5px;
  padding: 10px 15px;
}

.learning-quicker .munkf .profile_right .info_pp .inlu .dropdown-menu {
  top: 33%;
  right: 220px;
  left: auto;
  border-color: #bdbdbd;
}

.learning-quicker .munkf .profile_right .info_pp .inlu .dropdown-menu li a {
  font-size: 14px;
  font-weight: 300;
  font-family: Roboto;

}

.learning-quicker .munkf .profile_right .info_pp .inlu .dropdown-menu .fou {
  border-bottom: 1px solid #bdbdbd;
}

.learning-quicker .munkf .profile_right .info_pp .inlu .options {
  display: block;
  overflow: hidden;
  text-indent: 110%;
  white-space: nowrap;
  margin-left: 5px;
  background-position: -308px -37px;
  height: 44px;
  width: 44px;
  background-image: url(//instagramstatic-a.akamaihd.net/h1/sprites/core/e05e5e.png);
  background-repeat: no-repeat;
}

.learning-quicker .munkf .profile_right .info_pp .end-this-day {
  padding-top: 20px;
}

.learning-quicker .munkf .profile_right .info_pp .end-this-day li {
  padding-right: 65px;
}

.learning-quicker .munkf .profile_right .info_pp .end-this-day li a {
  font-family: Roboto;
  font-size: 14px;
  color: #333;
  font-weight: 500;
  text-decoration: none;
}

.learning-quicker .munkf .profile_right .info_pp .dsf {
  padding-top: 10px;
  padding-right: 30px;
}

.learning-quicker .munkf .profile_right .info_pp .dsf .desc {
  font-family: Roboto;
  font-size: 15px;
  color: #333;
  font-weight: 400;
  text-decoration: none;
  line-height: 23px;
}

.learning-quicker .munkf .profile_right .info_pp .dsf .desc .fulname {
  text-transform: capitalize;
}

.learning-quicker .munkf .isi-photo {
  margin-top: 40px;
}

#upload .modal-dialog .modal-content {
  border-radius: 0px;
}

#upload .modal-dialog .modal-content .modal-header {
  text-align: center;
  border-color: rgba(0,0,0,.0975);
}
#upload .modal-dialog .modal-content .modal-body {
  background-color: #fafafa;
}

#upload .modal-dialog .modal-content .modal-body .form-group .form-control {
  box-shadow: none;
  outline: none;
  font-size: 13px;
  font-family: Roboto;
  font-weight: 300;
  color: #999;
  border-radius: 2px;
  border-color: #dbdbdb;
}

#upload .modal-dialog .modal-content .modal-body .bdhf {
  padding-top: 20px;
}

#upload .modal-dialog .modal-content .modal-body .bdhf .bh {
  background-color: #3897f0;
  color: #fff !important;
  border-color: #2072bf;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  outline: none;
}
